
<h1>Travel Lister</h1>


<h3><a href='/list/new'>Click here to add a new entry</a></h3>
<br>
<h3><%= @error %></h3>
<h3><%= @message %></h3>
 <div class="box">
   <% @lists.each do |list| %>
         <%= list.description %>
               <button><a href="/list/<%= list.id %>/edit"> Edit </a></button> <button>
               <form action="/list/<%= list.id %>" method="post">
                   <input id="hidden" type="hidden" name="_method" value="delete">
                  <input type="submit" value="Remove">
               </form></button>
         <br>
   <% end %>
 </div>
<br>



