
<h1>Travel Lister</h1>
<h3><a href='/list/new'>Click here to add a new entry</a></h3>
<br>
<h3><%= @message %></h3>
<% @lists.each do |list| %>
    <div>
      <li>
         <%= list.description %>
         <button><a href="/list/<%= list.id %>/edit"> Edit </a></button>
         <form action="/list/<%= list.id %>" method="post">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input type="submit" value="delete">
        </form>
        <br>
      </li>
   </div>
<% end %>
<br>

<%# <button>Check All</button> %>

<%# <%='checked' if list.description.checked? %>


